.form-name, .page-name {
	display: inline-block;
	background: var(--mainGradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.1em;
	font-size: 50px;
}

.form-field-box {
	margin: 30px 0;
}

label.pt-label {
	margin: 0 0 30px;
}

.label-field-name {
	font-size: 15px;
	background-color: white;
	padding-bottom: 2px;
  background: var(--mainGradient) 
	left 
  bottom
  white    
  no-repeat;; 
  background-size:100% 2px;
  margin-bottom: 10px;
}

.label-field-helper {
	font-size: 12px;
}

.input-field {
	width: 500px;
	box-shadow: none;
	border-bottom: 1px solid black;
	padding: 0;
	border-radius: 0;
}

.center-form {
	width: 500px;
	margin: 25px auto;
}

.multiselect-field {
	width: 500px;
	margin: 10px 0;
}

.select-field {
	width: 500px;
	margin-top: 10px;
}

.textarea-field {
	width: 500px;
	max-width: 500px;
	min-width: 500px;
	box-shadow: none;
	padding: 0;
	border-radius: 0;
	border: none;
	border-bottom:1px solid black;
	font-size: 14px;
	margin-top: 5px;
	line-height: 2em;
	font-weight: 300;
}

.review-textarea, .thread-textarea {
	min-width: 100%;
	min-height: 200px;
	box-shadow: none;
	padding: 0;
	border-radius: 0;
	border: 1px solid black;
	font-size: 14px;
	margin-top: 5px;
	line-height: 2em;
}

.thread-textarea {
	margin: 30px 0;
}

.input-checkbox {
	font-size: 12px;
}

.pt-control:hover input:checked ~ .pt-control-indicator, .pt-control:hover .pt-control.pt-checkbox input:indeterminate ~ .pt-control-indicator, .pt-control.pt-checkbox .pt-control:hover input:indeterminate ~ .pt-control-indicator, .pt-control.pt-checkbox:hover input:indeterminate ~ .pt-control-indicator {
	background-color: var(--ccRed);
}


.pt-control input:checked ~ .pt-control-indicator, .pt-control.pt-checkbox input:indeterminate ~ .pt-control-indicator {
	box-shadow: none;
	background-color: var(--ccRed);
}

.field-avatar {
	display: block;
	width: 200px;
	margin-top: 10px;
}

.avatar-upload-button {
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

input.black-bordered-button {
	display: block;
	/*flex: 1 1 auto;*/
	padding: 10px 30px;
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: .3s;
	border: 2px solid black;
	text-decoration: none;
	border-radius: 0;
	font-size: 15px;
	/*background: white;*/
}
input.black-bordered-button:hover {
	cursor: pointer;
	background: white;
	border: 2px black solid;
	color: black;
}
input.black-bordered-button:hover:after {
	width: 100%;
	left: 0;
}
input.black-bordered-button:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 0;
	bottom: 0;
	height: 3px;
	background: black;
}
input.black-bordered-button a {
	text-decoration: none;
	color: black;
}

.Select, .Select div, .Select input, .Select span {
	font-size: 12px;
}

.Select--multi .Select-value {
	background-color: var(--ccRed);
	color: white;
	font-size: 12px;
	letter-spacing: 0.1em;
}

.Select--multi .Select-value-icon {
	border-right: 1px solid rgba(255, 255, 255, 0.24);
}

.Select-control {
	border: 1px solid black;
	border-radius: 0;
}

.Select-option.is-selected {
    color: red;
}

.Select-option.is-focused  {
    background-color: var(--ccRed) !important;
    color: white;
}
