.ais-SearchBox-input {
	width: 80%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid black;
	font-size: 16px;
}

.ais-SearchBox-submit {
	padding: 10px 40px;
	background: white;
	border: 2px solid black;
	border-radius: 3px;
	font-size: 13px;
	margin-left: 25px;
	text-transform: uppercase;
	font-family: Lato-Regular;
}

.ais-SearchBox-reset {
	display: none;
}

.search-type-radio {
	font-size: 13px;
	letter-spacing: 0.1em;
}

.search-filters-and-results {
	margin-top: 40px;
}

input.ais-ToggleRefinement-checkbox {
	/*background-color: var(--cherry2);
	color: white;
	border-radius: 3px;
	font-family: "Icons16", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;*/
	font-size: 20px;
	color: red;
	background-color: red;
	margin-right: 13px;
}

input[type=checkbox]:checked {
	color: red;
	background-color: red;
}

.ais-ToggleRefinement-labelText {
	font-size: 12px;
	text-transform: uppercase;
	font-family: Lato-Regular;
}

.ais-RefinementList-list {
	padding: 0;
}

.ais-RefinementList-item {
	 list-style-type: none;
	 margin: 5px 0;
}

input.ais-RefinementList-checkbox {
	font-size: 20px;
	margin-right: 13px;
}

.ais-RefinementList-labelText {
	font-size: 12px;
}

.ais-RefinementList-item--selected {
	color: var(--cherry2);
}

.ais-RefinementList-count {
	background-color: var(--cherry2);
	margin-left: 4px;
	color: white;
	padding: 3px 6px;
	border-radius: 4px;
}

.ais-ClearRefinements-button {
	text-align: center;
	border: 2px black solid;
  padding: 10px 40px;
	background: white;
	border: 2px solid black;
	border-radius: 3px;
	font-size: 13px;
	text-transform: uppercase;
}

.ais-Hits-list {
	list-style-type: none;
}

.user-search-name {
	margin: 10px 0;
	font-size: 25px;
	font-family: Lato-Regular;
	text-transform: uppercase;
	background: var(--mainGradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.1em;
}

.user-search-summary {
	font-family: Lato-Regular;
	padding: 20px 0;
	border-bottom: 1px lightgray solid;
}















