.ais-SearchBox-input {
	width: 84%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid black;
	font-size: 16px;
}

.ais-SearchBox-submit {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: .3s;
	border: 2px solid black;
	text-decoration: none;
	border-radius: 0;
	font-size: 15px;
	margin-left: 30px;
	background: white;
}
.ais-SearchBox-submit:hover {
	cursor: pointer;
	background: white;
	border: 2px black solid;
	color: black;
}
.ais-SearchBox-submit:hover:after {
	width: 100%;
	left: 0;
}
.ais-SearchBox-submit:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 0;
	bottom: 0;
	height: 3px;
	background: black;
}
.ais-SearchBox-submit a {
	text-decoration: none;
	color: black;
}

.ais-SearchBox-reset {
	display: none;
}

.search-type-radio {
	font-size: 14px;
	letter-spacing: 0.1em;
}

.search-filters-and-results {
	margin-top: 40px;
}

input.ais-ToggleRefinement-checkbox {
	font-size: 20px;
	color: black;
	background-color: var(--ccRed);
	margin-right: 13px;
	content: '✔';
}

input[type=checkbox]:checked {
	color: var(--ccRed);
	background-color: var(--ccRed);
}

.form-field-box {
	margin: 20px 0;
}

label {
	font-weight: 300;
}

.ais-ToggleRefinement-labelText {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.ais-RefinementList-list {
	padding: 0;
}

.ais-RefinementList-item {
	 list-style-type: none;
	 margin: 15px 0;
}

input.ais-RefinementList-checkbox {
	font-size: 20px;
	margin-right: 13px;
	margin-top: 0;
}

input[type='checkbox']{
  width: 16px !important;
  height: 16px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
	font-size: 2em;
	box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
	background-clip: padding-box;
	border-radius: 2px;
	background-color: #f5f8fa;
	cursor: pointer;
}

.ais-RefinementList-label {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.ais-RefinementList-labelText {
	font-size: 12px;
}

.ais-RefinementList-item--selected {
	color: black;
}

.ais-RefinementList-count {
	background-color: var(--ccRed);
	margin-left: 4px;
	color: white;
	padding: 2px 4px;
	border-radius: 4px;
	font-size: 10px;
}

.ais-ClearRefinements-button {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: .3s;
	border: 2px solid black;
	text-decoration: none;
	border-radius: 0;
	font-size: 15px;
	background: white;
}
.ais-ClearRefinements-button:hover {
	cursor: pointer;
	background: white;
	border: 2px black solid;
	color: black;
}
.ais-ClearRefinements-button:hover:after {
	width: 100%;
	left: 0;
}
.ais-ClearRefinements-button:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 0;
	bottom: 0;
	height: 3px;
	background: black;
}
.ais-ClearRefinements-button a {
	text-decoration: none;
	color: black;
}

.ais-Hits-list {
	list-style-type: none;
}

.ais-Hits-list a {
	text-decoration: none;
}

.wip-summary-search {
	font-weight: 400;
	padding: 20px 0;
	border-bottom: 1px lightgray solid;
}

.search-name {
	margin: 10px 0;
	font-size: 25px;
	font-weight: 400;
	color: var(--ccRed);
	letter-spacing: 0.1em;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user-search-summary {
	font-weight: 400;
	padding: 20px 0;
	border-bottom: 1px lightgray solid;
	color: black;
	align-items: center;
}

.looking-labels-small {
	font-weight: 400;
	align-self: center;
	margin: 0 10px 0 20px;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.1em;
	border-radius: 8px;
	background-color: var(--ccRed);
}

.user-search-result {
	margin: 5px 0;
}

.user-search-result-field {
	font-weight: 700;
	font-size: 13px;
}

.user-search-result-value {
	font-size: 13px;
}

.user-search-result .wip-genre-text{
	font-weight: 300;
}

.flex {
	display: flex;
}

.user-search-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: 10px 0;
}

.user-search-img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.ais-PoweredBy {
	display: flex;
}

.ais-PoweredBy-text {
	align-self: center;
}

.ais-PoweredBy-logo {
	margin-left: 5px;
	max-width: 50px;
}

.ais-Pagination-item {
	list-style-type: none;
	display: inline-block;
	font-size: 20px;
	margin: 0 10px;
	font-weight: 700;
}

.ais-Pagination-list--noRefinement {
	text-align: center;
	margin: 30px 0;
}

a.ais-Pagination-link.ais-Pagination-link--selected {
	color: var(--ccRed);
}
