.profile-page {
	font-weight: 300;
}

.profile-avatar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 260px;
	height: 260px;
	border-bottom: 5px solid var(--ccRed);
}

.profile-avatar {
  flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.user-header-mobile {
	display: none;
}

.user-info-col {
	padding: 0 20px 20px;
}

.user-info .user-name {
	display: inline-block;
	color: var(--ccRed);
	letter-spacing: 0.1em;
	font-size: 50px;
}

.user-info-details {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.user-info-icons {
	width: 20px;
	align-self: center;
	height: auto;
}

.user-info-detail-label {
	font-weight: 400;
	font-size: 15px;
	font-style: italic;

}

.user-info-detail {
	font-weight: 400;
	font-size: 15px;
	margin-left: 5px;
}

.social-links {
	margin-top: 10px;
/*	display: flex;
	align-items: center;
	flex-direction: row;*/
	font-size: 15px;
}

.social-link {
	margin-bottom: 10px;
}

.social-icons {
	width: 20px;
/*	align-self: center;*/
	margin-right: 15px;
}

button.black-bordered-button {
	display: block;
	padding: 10px 30px;
	text-align: center;
	position: relative;
	transition: .3s;
	border: 2px solid black;
	text-decoration: none;
	border-radius: 0;
	font-size: 20px;
	text-transform: none;
}
button.black-bordered-button:hover {
	cursor: pointer;
	background: white;
	border: 2px black solid;
	color: black;
	text-transform: none;
}
button.black-bordered-button:hover:after {
	width: 100%;
	left: 0;
	text-transform: none;
}
button.black-bordered-button:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 0;
	bottom: 0;
	height: 3px;
	background: black;
	text-transform: none;
}
button.black-bordered-button a {
	text-decoration: none;
	color: black;
	text-transform: none;
}
button.black-bordered-button.btn.btn-default:active {
	background: white;
	text-transform: none;
}
button.black-bordered-button.btn.btn-default:target {
	background: white;
	text-transform: none;
}
button.black-bordered-button.btn.btn-default:visited {
	background: white;
	text-transform: none;
}
button.black-bordered-button.btn.btn-default:focus {
	background: white;
	text-transform: none;
}


.user-info .message-user-button, .edit-profile-button {
	font-weight: 400;
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	white-space: normal;
	align-items: center;
	border: 2px black solid;
	padding: 10px 30px;
	font-size: 15px;
	text-transform: uppercase;
	box-shadow: none;
	-webkit-transition: all 2s; 
  transition: all 2s;
  background: white;
  width: 200px;
  margin: 10px 0;
}

.user-info .message-user-button:hover, .edit-profile-button:hover {
	background: white;
	border: 2px black solid;
}

.user-info .message-user-button img, .edit-profile-button img {
	width: 25px;
}

.user-name-and-labels {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.looking-labels {
	font-weight: 400;
	align-self: center;
	margin: 0 0 0 50px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.2em;
	background: var(--ccRed);
}

.section-divider {
	margin: 20px 0;
	display: flex;
	align-items: center;
}

.section-divider-title {
	font-weight: 400;
	font-size: 27px;
	white-space: nowrap;
	margin-right: 15px;
	color: black;
	background-color: white;
  padding-bottom: 2px;
	border-bottom: 3px solid var(--ccRed);
}

.small-section-divider {
	margin: 15px 0;
}

.small-section-divider-title {
	font-size: 20px;
}

.section-divider-hr {
	background: lightgrey;
	height: 1px;
	width: 100%;
}

.section-long-text {
	font-weight: 400;
	font-size: 18px;
	white-space: pre-wrap;
	line-height: 2em;
	text-align: justify;
	overflow: auto;
}

.small-field-text {
	font-weight: 400;
	font-size: 16px;
	margin: 5px 0;
	overflow: auto;
}

.wip-summary {
	font-weight: 400;
	padding: 20px 0;
	border-bottom: 1px lightgray solid;
}

.wip-summary:last-child {
	border-bottom: 0;
}

.display-WIPs a{
	text-decoration: none;
}
.display-WIPs :last-of-type a{
	border-bottom: none;
}

.wip-name-text {
	margin: 10px 0;
	font-size: 30px;
	font-weight: 400;
	color: var(--ccRed);
	letter-spacing: 0.1em;
	max-width: 100%;
	width: 100%;
	height: 50px;
    line-height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.wip-wc-text {
	display: inline-block;
	margin: 5px 0;
	font-weight: 400;
	font-size: 18px;
	color: black;
}

.wip-genre-text {
	margin: 5px 0;
	font-size: 15px;
	color: black;
	font-weight: 700;
}

.wip-types-text {
	display: inline-block;
	font-size: 18px;
	color: black;
}

.wip-logline-text {
	font-weight: 400;
	font-size: 17px;
	color: black;
	line-height: 2em;
	overflow: auto;
}

.user-traits {
	margin: 15px 0 10px;
}

.user-trait-count {
	font-weight: 700;
	margin-right: 5px;
	font-size: 14px;
}

.review-summary {
	margin: 20px 0;
	padding: 20px 0;
	border-bottom: 1px lightgray solid;
}

.review-message {
	font-weight: 400;
	font-size: 17px;
	line-height: 2em;
	margin: 0 0 10px 0;
	white-space: pre-wrap;
	overflow: scroll;
}

.review-trait {
	margin-right: 5px;
	background-color: var(--cherry1);
	padding: 5px;
	color: white;
	border-radius: 3px;
	letter-spacing: 0.1em;
	font-size: 14px;
}

.reviewer-avatar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 25px;
	height: 25px;
}

.reviewer-avatar {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.review-metadata {
	margin-top: 15px;
	display: flex;
	font-size: 12px;
	align-items: center;
	justify-content: space-between;
}

.reviewer-name {
	display: inline-block;
	margin-left: 10px;
	font-size: 19px;
	font-weight: 400;
	color: black;
}

.review-date {
	font-size: 19px;
}

.no-data {
	font-size: 14px;
	margin: 10px 0;
}

@media only screen and (max-width: 600px) {
	.user-header-desktop {
		display: none;
	}

	.user-header-mobile {
		display: block;
		margin: 5px;
	}

	.user-name-and-labels {
		align-items: flex-start;
		flex-direction: column;
	}

	.looking-labels {
		margin: 5px;
		align-self: start;
	}
} 
