.profile-page {
	font-family: Lato-Light;
}

.profile-avatar {
	padding: 0px 20px 20px;
}

.profile-avatar img {
	display: block;
	max-width: 80%;
  margin: 0 auto;
  text-align:center;
  padding-bottom:5px;
  background: var(--mainGradient);
  background-size:100% 5px; 
}

.user-info-col {
	padding: 0 20px 20px;
}

.user-info .user-name {
	display: inline-block;
	background: var(--mainGradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 50px;
}

.user-info-details {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.user-info-icons {
	width: 20px;
	align-self: center;
	height: auto;
}

.user-info-detail-label {
	font-family: Lato-Regular;
	font-size: 14px;
	font-style: italic;

}

.user-info-detail {
	font-family: Lato-Regular;
	font-size: 14px;
	margin-left: 5px;
}

.social-links {
	display: flex;
	align-items: center;
}

.social-icons {
	width: 25px;
	align-self: center;
	margin-right: 15px;
}

button.black-bordered-button {
	font-family: Lato-Regular;
	display: flex;
	text-align: center;
	justify-content: center;
	white-space: normal;
	align-items: center;
	border: 2px black solid;
	padding: 10px 30px;
	font-size: 15px;
	text-transform: uppercase;
	box-shadow: none;
	-webkit-transition: all 2s; 
  transition: all 2s;
  background: white;
  width: 200px;
  margin: 10px 10px 10px 0;
}

button.black-bordered-button:hover {
	background: white;
	border: 2px var(--cherry2) solid;
	color: var(--cherry2);;
}

button.black-bordered-button img {
	width: 20px;
	margin-right: 10px;
	align-self: center;
}

button.black-bordered-button a {
	text-decoration: none;
	color: black;
}

.user-info .message-user-button, .edit-profile-button {
	font-family: Lato-Regular;
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	white-space: normal;
	align-items: center;
	border: 2px black solid;
	padding: 10px 30px;
	font-size: 15px;
	text-transform: uppercase;
	box-shadow: none;
	-webkit-transition: all 2s; 
  transition: all 2s;
  background: white;
  width: 200px;
  margin: 10px 0;
}

.user-info .message-user-button:hover, .edit-profile-button:hover {
	background: white;
	border: 2px black solid;
}

.user-info .message-user-button img, .edit-profile-button img {
	width: 25px;
}

.user-name-and-labels {
	display: flex;
	align-items: center;
}

.looking-labels {
	font-family: Lato-Regular;
	align-self: center;
	margin: 0 10px 0 50px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.2em;
	border-radius: 10px;
}

span#lfr-label {
	background: var(--cherry1);
}

span#ltr-label {
	background: var(--cherry2);
}

/*.section-divider {
	font-family: Lato-Regular;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  font-size: 20px;
}
*/

.section-divider {
	margin: 20px 0;
	display: flex;
	align-items: center;
}

.section-divider-title {
	font-family: Lato-Regular;
	font-size: 20px;
	text-transform: uppercase;
	white-space: nowrap;
	margin-right: 15px;
	color: black;
	background-color: white;
  padding-bottom: 2px;
  background: var(--mainGradient) 
  	left 
    bottom
    white    
    no-repeat;; 
  background-size:100% 2px;
}

.small-section-divider {
	margin: 15px 0;
}

.small-section-divider-title {
	font-size: 15px;
}

.section-divider-hr {
	background: lightgrey;
	height: 1px;
	width: 100%;
}

/*.section-divider:before {
  content: '';
  background: lightgrey;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.section-divider:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding-right: 0.9em;
  line-height: 1.5em;
  color: black;
  background-color: white;
  padding-bottom: 2px;
  background: -webkit-linear-gradient(0deg, var(--red), var(--green), var(--blue)) left 
    bottom
    white    
    no-repeat;; 
  background-size:100% 2px;
}*/

.section-long-text {
	font-family: Lato-Regular;
	font-size: 15px;
	white-space: pre-wrap;
	line-height: 2em;
	text-align: justify;
}

.small-field-text {
	font-family: Lato-Regular;
	font-size: 13px;
	margin: 5px 0;
}

.wip-summary {
	font-family: Lato-Regular;
	padding: 20px 0;
	border-bottom: 1px lightgray solid;
}

.wip-name-text {
	margin: 10px 0;
	font-size: 25px;
	font-family: Lato-Regular;
	text-transform: uppercase;
	background: var(--mainGradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.1em;
}

.wip-wc-text {
	display: inline-block;
	margin: 5px 0;
	font-family: Lato-Regular;
	font-size: 16px;
	color: black;
}

.wip-genre-text {
	margin: 5px 0;
	font-size: 12px;
	color: black;
}

.wip-types-text {
	display: inline-block;
	font-size: 16px;
	color: black;
}

.wip-logline-text {
	font-family: Lato-Regular;
	font-size: 14px;
	color: black;
	line-height: 2em;
}