.wip-header {
	padding-bottom: 10px;
}

.wip-header a {
	text-decoration: none;
}

.wip-section {
	width: 90%;
}

.wip-title {
	display: inline-block;
	background: var(--mainGradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.1em;
	font-size: 50px;
	overflow: auto;
}

.wip-writer {
	text-decoration: none;
	font-size: 17px;
	color: black;
	margin: 10px 0;
}

.wip-title-and-buttons {
	justify-content: space-between;
	margin-bottom: 20px;
}

.wip-buttons button{
	margin-left: 10px;
}

.wip-logline {
	font-weight: 400;
	font-size: 15px;
	overflow: auto;
}

.wip-left-col {
	margin: 20px 0;
}

.wip-right-col {
	margin: 10px 0;
}

.wip-field {
	font-weight: 400;
	font-size: 13px;
	margin-bottom: 10px;
}

.wip-field-name {
	font-weight: 700;
	font-size: 16px;
	padding-bottom: 2px;
  background: var(--mainGradient) 
  	left 
    bottom
    white    
    no-repeat;
  background-size:100% 2px;
}
