.wip-page {
	font-family: Lato-Light;
}

.wip-header {
	padding-bottom: 40px;
	border-bottom: 1px lightgrey solid;
}

.wip-title {
	display: inline-block;
	background: -webkit-linear-gradient(0deg, var(--red), var(--green), var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 50px;
}

.wip-logline {
	font-family: Lato-Regular;
	font-size: 15px;
}

.wip-left-col {
	margin: 20px 0;
/*	border-right: 1px lightgray solid;
*/}

.wip-right-col {
	margin: 10px 0;
}

.wip-field {
	font-family: Lato-Regular;
	font-size: 13px;
	margin-bottom: 10px;
}

.wip-field-name {
	font-family: Lato-Bold;
	font-size: 16px;
	padding-bottom: 2px;
  background: -webkit-linear-gradient(0deg, var(--red), var(--green), var(--blue)) left 
    bottom
    white    
    no-repeat;; 
  background-size:100% 2px;
}