.homepage-section {
	margin-bottom: 25px;
}

.homepage-user {
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.homepage-avatar-url-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 150px;
	height: 150px;
}

.homepage-user-name {
	color: black;
	font-size: 20px;
	letter-spacing: 0.1em;
	font-weight: 400;
	margin-bottom: 10px;
}

.homepage-avatar-url {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.homepage-wip {
	font-family: 'Cardo', serif;
	font-weight: 700;
	padding: 4px;
}

.homepage-thread {
	border-bottom: 1px lightgray solid;
}

.thread-title {
	margin: 10px 0;
	font-size: 25px;
	color: black;
	font-weight: 400;
	letter-spacing: 0.1em;
}
