.homepage-section {
	margin-bottom: 25px;
}

.homepage-user {
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.homepage-avatar-url-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 150px;
	height: 150px;
}

.homepage-user-name {
	color: black;
	font-size: 20px;
	letter-spacing: 0.1em;
	font-weight: 400;
	margin-bottom: 10px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.homepage-avatar-url {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.homepage-wip {
	font-family: 'Cardo', serif;
	font-weight: 700;
	padding: 4px;
}

.homepage-wip-name {
	margin: 0px 0;
	font-size: 25px;
	font-weight: 400;
	color: var(--ccRed);
	letter-spacing: 0.1em;
	max-width: 100%;
	width: 100%;
	height: 50px;
    line-height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.homepage-wip-types-text {
	display: inline-block;
	font-size: 15px;
	color: black;
}

.homepage-thread {
	border-bottom: 1px lightgray solid;
}

.thread-title {
	margin: 10px 0;
	font-size: 20px;
	color: black;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
