@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700');

html {
	height: 100vh;
	overflow: auto;
	font-family: 'Cardo', serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
  font-weight: 400;
  height: 100vh;
  font-size: 18px;
}

:root {
  --cherry1: #eb3349;
  --cherry2: #f45c43;
  --mainGradient: -webkit-linear-gradient(0deg, var(--cherry1), var(--cherry2));
  --ccRed: #ed1c24;
}

a {
	color: var(--ccRed);
}

a:hover {
	color: var(--ccRed);
	text-decoration: none;
}

.main-app {
	font-family: 'Cardo', serif;
  font-weight: 400;
}

.flex {
	display: flex;
}

.splash-page img {
	width: 750px;
	margin: 75px auto;
}

.cc-title {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	font-family: 'Cardo', serif;
	font-weight: 300;
	justify-content: center;
	color: black; /*non-webkit fallback*/
	text-align: center;
	font-size: 100px;
	margin: 0 auto 100px;
} 

.cc-title img{
	width: 75px;
}


nav.pt-navbar {
	height: 60px;
	font-family: 'Cardo', serif;
	font-weight: 400;
	background: white;
	box-shadow: none;
}

.pt-button.pt-minimal {
	color: black;
	font-size: 19px;
}

a.pt-button.pt-minimal:hover {
	color: black;
	background-color: white;
}

.pt-navbar-heading {
	font-family: 'Cardo', serif;
	font-weight: 300;
	color: black; /*non-webkit fallback*/
	font-size: 35px !important;
}

.pt-navbar-heading:hover {
	text-decoration: none;
	color: black;
}

.pt-navbar-heading:visited {
	text-decoration: none;
	color: black;
}

.pt-navbar-heading:active {
	text-decoration: none;
	color: black;
}

#beta-tag {
	margin: 0;
}

.login-styles {
	font-family: 'Cardo', serif;
	font-weight: 700;
	font-size: 25px;
	border-bottom: 1px lightgray solid;
	padding-bottom: 50px;
}

.login-styles button {
	margin: 10px auto;
}

.splash-page label.pt-label .pt-input, label.pt-label .pt-select {
	box-shadow: none;
	border-bottom: 3px solid black;
	font-size: 25px;
	height: 40px;
}

input::-webkit-input-placeholder {
	color: #636363 !important;
}

.splash-page .pt-callout[class*="pt-icon-"] {
	padding-left: 0;
}

.splash-page .pt-callout[class*="pt-icon-"]::before{
	color: white;
}

.splash-page .pt-callout{
	background-color: var(--green);
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.splash-section-title {
	font-size: 40px;
	margin-top: 50px;
}

img.splash-gif{
	width: 600px;
	border-bottom: 5px solid var(--ccRed);
}

.red {
	color: var(--ccRed);
}

