@font-face {
  font-family: 'Lato-Light';
  src: local('Lato-Light'), url(./Lato-Light.ttf) format('ttf');
}

@font-face {
	font-family: 'Lato-Regular';
	src: local('Lato-Regular'), url(./Lato-Regular.ttf) format('ttf');
}

html {
	height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato-Light';
  min-height: 100%;
}

:root {
  --red: #ec1a00;
  --green: #00cc64;
  --blue: #17a3ef;
  --yellow: #ffc500;
  --navy: #001fc1;
}


.splash-page {
	position: absolute;
	height: 100%;
	width: 100%;
	padding-top: 150px;
/*	background-image: url("images/sharpen.jpg");
	background-size: cover;*/

}

/*.splash-page:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("images/sharpen.jpg");
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}*/

.title {
	font-family: 'Lato-Regular';
	display: inline-block;
	color: black; /*non-webkit fallback*/
	text-transform: uppercase;
/*	background: -webkit-linear-gradient(180deg, var(--yellow), var(--red));*/
/*	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	font-size: 40px;
	padding: 10px;
	margin-bottom: 100px;
}

nav.pt-navbar {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom:2px solid #c4268c;
	height: 60px;
}

nav.pt-navbar:before {
  content:'';
  position:absolute;
  width:100%;
  height:2px;
  background: -webkit-linear-gradient(0deg, var(--red), var(--green), var(--blue));
  bottom:-2px;
  left:0;
}

.pt-navbar-heading {
	font-family: 'Lato-Light';
	color: black; /*non-webkit fallback*/
	text-transform: uppercase;
	font-size: 30px !important;
}

.login-styles {
/*	flex-display: 1 1 0;
*/
	display: flex;
	justify-content: space-evenly;
	font-family: 'Lato-Regular';
	font-size: 20px;
/*	width: 400px;
	margin: 0 auto;*/
}

.splash-page label.pt-label .pt-input, label.pt-label .pt-select {
	box-shadow: none;
	border-bottom: 2px solid black;
	font-size: 20px;
	height: 40px;
}

input::-webkit-input-placeholder {
	color: #636363 !important;
}

.splash-page .pt-callout[class*="pt-icon-"] {
	padding-left: 0;
}

.splash-page .pt-callout[class*="pt-icon-"]::before{
	color: white;
}

.splash-page .pt-callout{
	background-color: var(--green);
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}

.splash-page .pt-button.pt-intent-primary {
/*	background: black;*/
	display: flex;
	text-align: center;
	width: 350px;
	justify-content: space-evenly;
	align-items: center;
	border: 1px black solid;
	padding: 10px;
	font-size: 15px;
	text-transform: uppercase;
	box-shadow: none;
	-webkit-transition: all 2s; 
  transition: all 2s;
}

.splash-page .pt-button.pt-intent-primary:hover {
	background: -webkit-linear-gradient(0deg, var(--red), var(--green), var(--blue));
}

.login-auth {
	margin-top: 20px;
}

.splash-page .pt-button.pt-intent-primary img {
	width: 30px;
}

.splash-page .pt-button.pt-intent-primary.fb-auth {
	background: white;
	border: 2px #4267B2 solid;
	color: #4267B2;
}

.splash-page .pt-button.pt-intent-primary.g-auth {
	background: white;
	border: 2px #dd4b39 solid;
	color: #dd4b39;
}

.splash-page .pt-button.pt-intent-primary.t-auth {
	background: white;
	border: 2px #00aced solid;
	color: #00aced;
}





