:root {
  --red: #c21500;
  --yellow: #ffc500;
}

@font-face {
  font-family: 'Lato-Light';
  src: local('Lato-Light'), url(./Lato-Light.ttf) format('ttf');
}


.title {
	font-family: 'Lato-Light';
	display: inline-block;
	color: var(--red); /*non-webkit fallback*/
	text-transform: uppercase;
	background: -webkit-linear-gradient(180deg, var(--yellow), var(--red));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}